svg#freepik_stories-static-assets.animated {
  height: 100%;
  width: 100%;
}

svg#freepik_stories-static-assets:not(.animated) .animable {
  opacity: 0;
}

svg#freepik_stories-static-assets.animated #freepik--Window--inject-5 {
  animation: 3s Infinite linear floating;
  animation-delay: 0s;
  animation-timing-function: ease-in-out;
}

svg#freepik_stories-static-assets.animated #freepik--Icons--inject-5 {
  animation: 3s Infinite linear floating;
  animation-delay: 0s;
  animation-timing-function: ease-in-out;
}

@keyframes floating {
  0% {
    opacity: 1;
    transform: translateY(0px);
  }

  50% {
    transform: translateY(-10px);
  }

  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
