---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Impressum" description="Carsten Lebek | Impressum">
    <main>
        <div class="prose lg:prose-xl max-w-xl mx-auto px-4">
            <h1>Impressum</h1>
            <p class="chakra-text css-0">
            <h2>Angaben gemäß § 5 TMG</h2>
            <p>Carsten Lebek<br>Löhrerlen 19G<br>42279 Wuppertal</p>
            <h2 class="chakra-heading css-57efjy">Kontakt</h2>
            <p>E-Mail: carsten.lebek@gmail.com</p>
            <h2>Umsatzsteuer-ID</h2>
            <p>Umsatzsteuer-Identifikationsnummer gemäß § 27 a Umsatzsteuergesetz:<br>DE311134429</p>
            <h2>Verbraucher­streit­beilegung/Universal­schlichtungs­stelle</h2>
            <p>Wir sind nicht bereit oder verpflichtet, an Streitbeilegungsverfahren vor einer
                Verbraucherschlichtungsstelle teilzunehmen.</p>
            <p>Quelle: <a href="https://www.e-recht24.de">eRecht24</a></p>
            </p>
        </div>
    </main>
</Layout>