---
import Layout from '../layouts/Layout.astro';
import Hero from '../components/Hero.svelte';
import AboutMe from '../components/AboutMe.svelte';
import Toolbox from '../components/Toolbox.svelte';
import Zertifikate from '../components/Zertifikate.svelte';
import Referenzen from '../components/Referenzen.svelte';
---

<Layout title="Welcome to Astro.">
	<main>
		<Hero />
		<AboutMe />
		<Toolbox client:idle />
		<Zertifikate />
		<Referenzen />
	</main>
</Layout>

<style>
	:root {
		--astro-gradient: linear-gradient(0deg, #4F39FA, #DA62C4);
	}
</style>